@mixin blocks($color) {
  width: 43%;
  padding: 15px;
  color: white;
  border-radius: 4px;
  background-color: $color;
}

.formContent {
  background-color: rgba(129, 129, 129, 0.7);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  > .form {
    @include blocks(#818181);
  }

  > .information {
    @include blocks(green);

    > .title {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}