.pokemon {
  width: 11.713vw;
  height: 250px;
  padding: 10px;
  margin-bottom: 25px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;

  > .image {
    height: 110px;
    padding: 15px;
    background-color: rgba(242, 240, 78, 0.25);

    img {
      height: 110px;
    }
  }

  > .number {
    color: #ccc;
    font-weight: 700;
    font-size: 0.85rem;
  }

  > .title {
    font-weight: 900;
    font-size: 1.25rem;
  }

  .details {
    width: 100%;
    padding: 8px 0px;
    background-color: rgb(61, 127, 167);
    text-align: center;
    font-size: 0.75rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
  }
}