<div class="pokemonsList">
  <span *ngFor="let item of dataSource">
    <app-pokemon
      id="{{ item.id }}"
      title="{{ item.name }}"
      image="{{ item.image }}"
    ></app-pokemon>
  </span>
</div>

<div class="pagination">
  <a *ngIf="previous" class="pageLink" routerLink="/">
    Início
  </a>
  <div *ngIf="previous" class="pageLink" id="{{previous}}" (click)="handleClickOnLink($event)">
    {{ previous }}
  </div>
  <div class="actualPage">
    {{ page }}
  </div>
  <div *ngIf="next" class="pageLink" id="{{next}}" (click)="handleClickOnLink($event)">
    {{ next }}
  </div>
</div>
