.pokemon {
  margin: 35px 0;
  padding: 20px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;

  > .rowContent {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    > .leftColumn {
      width: 370px;
      height: 370px;
      border-radius: 4px;
      background-color: rgba(242, 240, 78, 0.25);
      text-align: center;
      display: flex;
      flex-flow: column;

      justify-content: center;

      img {
        height: 300px;
      }
    }

    > .rightColumn {
      width: 59%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .informationBlock {
        width: 100%;
        position: relative;
      }

      .informBig {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .title {
        color: #ccc;
        font-weight: 900;
        font-size: 0.85rem;
        margin-bottom: 5px;
      }
    }
  }
}
