<div class="container">
  <div class="pokemon">
    <h1>{{ title | ucfirst }}</h1>
    <div class="rowContent">
      <div class="leftColumn">
        <div class="img">
          <img src="{{ image }}" alt="{{ title }}" title="{{ title }}" />
        </div>
      </div>
      <div class="rightColumn">

        <div class="informationBlock">
          <div class="title">Nº de Ordem</div>
          <div class="informBig">{{ id | formatedOrder }}</div>
        </div>

        <div class="informationBlock">
          <div class="title">Descrição</div>
          <p>{{ description }}</p>
        </div>

        <div class="informationBlock">
          <div class="title">Peso</div>
          <div class="informBig">{{ weight | weight }}</div>
        </div>

        <div class="informationBlock">
          <div class="title">Altura</div>
          <div class="informBig">{{ height }}</div>
        </div>

      </div>
    </div>
  </div>
</div>
