<div class="container">
  <div class="pokemon">
    <h1>
      {{ title | ucfirst }}
      <span style="color: #ccc;">
        | nº {{ id | formatedOrder }}
      </span>
    </h1>

    <a href="javascript:history.back()">
      <div class="closeButton" title="Fechar card">x</div>
    </a>

    <div class="rowContent">
      <div class="leftColumn">
        <div class="img">
          <img src="{{ image }}" alt="{{ title }}" title="{{ title }}" />
        </div>
      </div>
      <div class="rightColumn">

        <div class="informationBlock">
          <div class="title">Descrição</div>
          <p>{{ description }}</p>
        </div>

        <div class="informationBlock">
          <div class="title">Peso</div>
          <div class="informBig">{{ weight | weight }}</div>
        </div>

        <div class="informationBlock">
          <div class="title">Altura</div>
          <div class="informBig">{{ height | height }}</div>
        </div>

        <div class="informationBlock">
          <div class="title">Tipo</div>
          <span *ngFor="let item of types">
            <div class="types">{{ item | ucfirst }}</div>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
